@import '/css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lobster&display=swap');

/*
font-family: "Sofia Sans Semi Condensed", sans-serif;
 font-family: "Alegreya", serif;
*/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

}

body {
    color: #2f2f2f;
    background-color: #FFF8EA;
}

header {

    background: url('../img/main-bg.png') center center/cover no-repeat;
    padding-top: 46px;
    min-height: 1116px;
}


.header__inner {
    display: flex;
    align-items: center;
    min-height: 89px;
}

.header__inner-wrapp {
    display: flex;
}

.header__burger {
    display: none;
}



.header__inner .logo {
    display: inline-block;
    height: 80px;
    width: 93px;
    margin-right: 37px;
}



.menu__list {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.menu__link:hover {
    border-bottom: 3px #2f2f2f dashed;
}

.social-icons {
    display: block;
    margin-left: 249px;
}

ul.social-icon {
    display: flex;
    gap: 0 30px;
}


.menu__item {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.header__main-desc {
    max-width: 523px;
    font-weight: 400;
    font-size: 64px;
   
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 89px;
    padding: 0 10px 0 10px;
}

.header__main-btn {
    margin-top: 20px;
    border-radius: 10px;
    width: 491px;
    height: 74px;
    background: #ef6e1c;
    font-weight: 500;
    font-size: 28px;
    color: #fff;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    border: 0;
}

.header__main-wrapp {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 45px;
}

.header__main-wrapp-imgtop {
    grid-column: 4 / -1;
    grid-row: 1;
}

.header__main-wrapp-imgbottom {
    max-width: 364px;
    grid-row: 1;
    grid-column: 3 / span 8;
    padding-top: 20%;
    z-index: 1;
}

img {
    width: 100%;
    display: block;
}


.main__about-title {
    margin-top: -120px;
    background: url('../img/title_img1.png') center center no-repeat;
    height: 227px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__about-title span {
    font-weight: 700;
    font-size: 54px;
    color: #2f2f2f;
    font-family: "Alegreya", serif;
}

.main__about-desc {
    margin-top: 67px;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: #2f2f2f;
}

.main__about-desc p {
    display: block;
    
}

.main__about-img {
    float: right;
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    margin-top: -320px;
    background-size: cover;
}

.main__about-cards {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 162px;

}

.main__about-card {
    position: relative;
    width: 326px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.main__about-card span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 700;
    font-size: 20px;

}

.main__advantages {
    background: url('../img/main-bg.png') center center/cover no-repeat;
    padding-top: 46px;
    min-height: 883px;
}

.main__advantages-title img {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 670px;
    margin-top: -50px;
}

.main__advantages-title {
    position: relative;
}

.main__advantages-title p {
    position: absolute;
    top: 0;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 700;
    font-size: 54px;
    color: #2f2f2f;
    font-family: "Alegreya", serif;
    margin-top: -50px;
    width: 450px;
}


.reasons_block {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-top: 55px;
}

.reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    font-weight: 700;
    font-size: 56px;
    color: #ef6e1c;
    font-family: "Alegreya", serif;
}

.reasons_block .reasons_descr {
    width: 530px;
}



.reasons_block .reasons_descr .reasons_text {
    font-weight: 500;
    font-size: 26px;
    color: #2f2f2f;
    font-family: "Alegreya", serif;
}

.main__reviews-img {
    position: absolute;
    width: 600px;
    margin-left: 55%;
    margin-top: -350px;
}

.main__reviews-wrap1 {
    position: relative;
    background-image: url("../img/comment1.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 501px;
    width: 842px;
    margin-top: -50px;
    z-index: 10;
}



.main__reviews-wrap-text1 {
    position: absolute;
    top: 60%;
    left: 65%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 508px;
}

.main__reviews-wrap-text-title {
    font-weight: 700;
    font-size: 46px;
    color: #ef6e1c;
    font-family: "Alegreya", serif;
}

.main__reviews-wrap-text-desc {
    margin-top: 20px;
    font-weight: 700;
    font-size: 25px;
    color: #000;
}


.main__reviews-wrap2 {
    position: relative;
    background-image: url("../img/comment2.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 623px;
    margin-left: -150px;
    margin-top: 150px;
}

.main__reviews-wrap-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 508px;
}

.main__reviews-wrap3 {
    position: relative;
    background-image: url("../img/comment3.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 551px;
    margin-top: -170px;
    margin-left: 350px;
}

.main__reviews-wrap-text3 {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 363px;
}

.main__reviews-wrap4 {
    position: relative;
    background-image: url("../img/comment4.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 523px;
    width: 780px;
    margin-left: -100px;
}

.main__reviews-wrap-text4 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.main__reviews-wrap5 {
    position: relative;
    background-image: url("../img/comment5.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 520px;
    width: 623px;
    margin-left: 35%;
    margin-top: -100px;
}

.main__reviews-wrap-text5 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 540px;
}

.row {
    --bs-gutter-x: 0;
}

@media (max-width:1760px) {
    .main__reviews-wrap2 {
        margin-left: -65px;
    }

    .main__reviews-wrap3 {
        margin-left: 200px;
    }

}

@media (max-width:1700px) {
    .main__reviews-wrap1 {
        height: 471px;
        width: 742px;
    }

    .main__reviews-wrap-text1 {
        width: 408px;
    }


    .main__reviews-wrap-text-desc {
        font-size: 20px;
    }

}

@media (max-width:1530px) {
    .main__reviews-wrap-text-title {
        font-size: 26px;
    }

    .main__reviews-wrap-text-desc {
        font-size: 15px;
    }

    .main__reviews-wrap-text1 {
        width: 408px;
    }

    .main__reviews-wrap-text2 {
        width: 408px;
    }

    .main__reviews-wrap-text3 {
        width: 308px;
    }

    .main__reviews-wrap-text4 {
        width: 400px;
    }



    .main__reviews-wrap3 {
        height: 500px;
        width: 451px;
    }

    .main__reviews-wrap4 {
        height: 423px;
        width: 580px;
        margin-left: -60px;
    }

    .main__reviews-wrap5 {
        height: 320px;
        width: 423px;
        margin-left: 35%;
        margin-top: 0;
    }

    .main__reviews-wrap-text5 {
        width: 290px;
    }
}

@media (max-width:1400px) {
    .main__reviews-wrap1 {
        height: 340px;
        width: 542px;
    }

    .main__reviews-wrap-text1 {
        width: 308px;
    }

    .main__reviews-wrap2 {
        height: 300px;
        width: 451px;
    }

    .main__reviews-wrap-text2 {
        width: 308px;
    }

    .main__reviews-wrap3 {
        height: 300px;
        width: 351px;
        margin-top: 0;
    }

    .main__reviews-wrap-text3 {
        width: 250px;
    }

    .main__reviews-wrap4 {
        height: 323px;
        width: 480px;
        margin-left: -60px;
    }

    .main__reviews-wrap-text4 {
        width: 300px;
    }
}
@media (max-width:1390px) {
    .main__about-img {
        margin-right: 10px;
    }
    .social-icons {
        margin-left: 180px;
    }
}

@media (max-width:1250px) {
    .social-icons {
        margin-left: 70px;
    }
    .menu__list {
        gap: 0 20px;
    }
    header {

        background: url('../img/main-bg.png') center center/cover no-repeat;
        padding-top: 46px;
        min-height: 800px;
    }



    .header__main-desc {
        max-width: 323px;
        font-weight: 400;
        font-size: 44px;
        margin-left: 100px;
    }

    .header__main-btn {
        margin-top: 20px;
        border-radius: 10px;
        width: 291px;
        height: 74px;
        font-weight: 700;
        font-size: 28px;
    }

    .header__main-wrapp-imgtop {
        grid-column: 4 / -1;
        grid-row: 1;
        max-width: 350px;
        margin-right: 100px;
    }

    .header__main-wrapp-imgbottom {
        max-width: 264px;
        grid-row: 1;
        grid-column: 3 / span 8;
        padding-top: 20%;
        z-index: 1;
    }

    .main__about-title {
        margin-top: -120px;
        background: url('../img/title_img1.png') center center no-repeat;
        height: 250px;
        max-width: 600px;
    }

    .main__about-desc p {
        max-width: 590px;
        font-size: 25px;
    }

    .main__about-desc img {
        max-width: 564px;
        margin-top: -675px;
        margin-right: -150px;
    }

    .reasons_block .reasons_descr .reasons_text {
        font-size: 20px;
    }

    
}

@media (max-width:950px) {

    .main__about-img {
        width: 250px;
        margin-top: -240px;
    }


    .main__about-img {
        width: 350px;
    }
    .header__inner {
        min-height: 39px;
    }
    
    .menu__list {
        gap: 0 10px;
    }
    
    .social-icons {
        gap: 0 10px;
    }
    
    .menu__item {
        font-weight: 700;
        font-size: 20px;
    }

    .main__about-title {
        margin-top: -120px;
        background: url('../img/title-mini.png') center center no-repeat;
        height: 227px;
        max-width: 300px;
    }

    .main__about-title span {
        font-size: 34px;
    }

    .main__about-card {
        width: 326px;
        margin-bottom: 20px;
        margin-right: 50px;
        margin-left: 50px;
    
    }
    .main__about-desc p {
        max-width: 390px;
        font-size: 16px;
    }
    .main__about-desc img {
        max-height: 500px;
        max-width: 464px;
        margin-top: -330px;
        margin-right: 0px;
    }
    .main__about-card span {
        font-size: 20px;
    
    }
    .main__advantages-title img {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        width: 370px;
        margin-top: -50px;
    }
    
    .main__advantages-title {
        position: relative;
    }
    
    .main__advantages-title p {
        font-size: 24px;
        width: 250px;
    }

    .main__reviews-img {
        position: absolute;
        width: 300px;
        margin-left: 55%;
        margin-top: -240px;
    }
    
    .main__reviews-wrap2 {
        height: 300px;
        width: 423px;
        margin-left: -150px;
        margin-top: 250px;
    }
    .main__reviews-wrap4 {
        height: 323px;
        width: 480px;
        margin-left: -100px;
        margin-top: 200px;
    }

    .header__main-desc {
        max-width: 323px;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        margin: 0 auto;
        margin-top: 37px;
    }
    
    

    .header__main-wrapp-imgtop {
        grid-column: 4 / -1;
        grid-row: 1;
        width: 250px;
    }
    
    .header__main-wrapp-imgbottom {
        max-width: 189px;
        grid-row: 1;
        grid-column: 3 / span 8;
        padding-top: 20%;
        z-index: 1;
    }
    
    .main__about-card {
        width: 326px;
        margin: 0 auto;
        margin-bottom: 15px;
    
    }
    
    
}

@media (max-width:768px) {
    body.lock {
        overflow: hidden;
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
    }
    header {
        padding-top: 10px;
    }
    
    .header__burger{
        display: block;
        position: fixed;
        width: 30px;
        height: 20px;
        left: 90%;
        z-index: 21;
    }
    .header__burger span{
      position: absolute;  
      background-color: #2f2f2f;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #2f2f2f;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;

    }
    .header__burger:after{
        bottom: 0;
    }
   
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }
  
     .header__inner-wrapp {
        position: fixed;
        top: -100%;
        left: 50%;
        width: 50%;
        height: 100%;
        background-color: #FFF8EA;
        z-index: 20;
        display: block;
        transition: all 0.3s ease 0s;
    }   

    .header__inner-wrapp.active {
        top: 0;
    }
    
    .menu {
        padding-top: 100px;
        padding-left: 20px;
    }

    .social-icon{
       padding-left: 20px;
    }
    
    .menu__list {
        display: block;

    }
    .menu__item{
        
        margin-bottom: 10px;
    }
    .social-icons {
        margin-left: 0;
    }
    ul.social-icon {
        gap: 0 10px;
    }

    .header__main {
        display: block;
        position: relative;
    }
    .header__main-desc button {
        position: absolute;
        margin: 0 auto;
        top: 105%;
        transform: translate(-50%, -50%);
    }

    .header__main-wrapp {
        margin-top: 25px;
    }
    
    .header__main-wrapp-imgtop {
        grid-column: 4 / -1;
        grid-row: 1;
        width: 350px;
    }
    
    .header__main-wrapp-imgbottom {
        max-width: 189px;
        grid-row: 1;
        grid-column: 3 / span 8;
        padding-top: 20%;
        z-index: 1;
    }

    
    .main__about-title {
        position: relative;
        z-index: 15;
    }

    
    .main__reviews-wrap1 {
        height: 406px;
        width: 650px;
        margin-top: 0;
    }
    
    .main__advantages-title img {
        left: 60%;

    }
    .main__advantages-title p {
        left: 60%;
    }
    
    .main__reviews-img {
        position: absolute;
        width: 300px;
        margin-left: 45%;
    }

    .main__reviews-wrap-text1 {
        width: 308px;
    }
    
    .main__reviews-wrap-text-title {
        font-size: 36px;
    }
    
    .main__reviews-wrap-text-desc {
        font-size: 16px;
    }
    
    
    .main__reviews-wrap2 {
        height: 300px;
        width: 523px;
        margin-left: 10%;
        margin-top: 0;
    }
    
    .main__reviews-wrap-text2 {
        width: 308px;
    }
    
    .main__reviews-wrap3 {
        height: 350px;
        width: 351px;
        margin-top: 0;
        margin-left: 10%;
    }
    
    .main__reviews-wrap-text3 {
        width: 290px;
    }
    
    .main__reviews-wrap4 {
        height: 323px;
        width: 480px;
        margin-top: 0;
        margin-left: 10%;
    }
    
    .main__reviews-wrap-text4 {
        width: 280px;
    }
    
    .main__reviews-wrap5 {
        height: 420px;
        width: 423px;
        margin-left: 10%;
        margin-top: 0;
    }
    
    .main__reviews-wrap-text5 {
        width: 300px;
    }
    
}

@media (max-width:650px) {
    .main__advantages-title img {
        left: 50%;
      }
      .main__advantages-title p {
        left: 50%;
      }
    .main__about-desc p {
       margin-top: -30px;
    }
    .main__about-img {
        width: 230px;
        margin-top: -200px;
    }
    .main__reviews-wrap1 {
        position: relative;
        background-image: url("../img/com-mini1.png");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        width: 406px;
        height: 304px;
    }

    .header__main-wrapp-imgtop {
        grid-column: 4 / -1;
        max-width: 300px;
    }
    .header__main-wrapp-imgbottom {
        max-width: 169px;
        grid-row: 1;
        grid-column: 2 / span 8;
    }
}

@media (max-width:650px) {
    .header__main-wrapp-imgtop {
        grid-column: 3 / -1;
    }
    .reasons_block .reasons_round {
        margin-right: 16px;
        font-size: 36px;
    }
    
    .reasons_block .reasons_descr {
        width: 300px;
    }
    
    .reasons_block .reasons_descr .reasons_text {
        font-size: 17px;
    }
    
    .main__reviews-wrap2 {
        height: 300px;
        width: 383px;
        margin-left: 0;
        margin-top: 0;
    }
    
    .main__reviews-wrap-text2 {
        width: 308px;
    }
    
    .main__reviews-wrap3 {
        height: 350px;
        width: 351px;
        margin-top: 0;
        margin-left: 0;
    }
    
    .main__reviews-wrap-text3 {
        width: 290px;
    }
    
    .main__reviews-wrap4 {
        height: 323px;
        width: 380px;
        margin-top: 0;
        margin-left: 0;
    }
    
    .main__reviews-wrap-text4 {
        width: 280px;
    }
    
    .main__reviews-wrap5 {
        height: 420px;
        width: 373px;
        margin-left: 0;
        margin-top: 0;
    }
    
    .main__reviews-wrap-text5 {
        width: 300px;
    }
    .main__reviews-img {
        margin-left: 15%;
    }

    

}

@media (max-width: 450px) {
    .header__inner-wrapp {
        position: fixed;
        top: -100%;
        left: 20%;
        width: 100%;
    }
    .header__main-wrapp-imgtop {
        grid-column: 2 / -1;
    }
   
    
}

@media (max-width: 390px) {
    .header__burger {
        left: 70%;
    }
    .header__main-wrapp-imgtop {
        grid-column: 1 / -1;
        max-width: 300px;
    }
    .header__main-wrapp-imgbottom {
        max-width: 169px;
        grid-row: 1;
        grid-column: 1 / span 8;
    }
}
